@import "../styles/typography";
.blog-section {
  background-image: url("../../assets/blogbackground.jpg");
  opacity: 0.75;
  background-size: cover;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-logo {
    margin: 0 auto;
    background-image: url("../../assets/TeaLogo.svg");
    background-size: cover;
    height: 324px;
    width: 324px;
  }

  &-text {
    text-align: center;
    font-family: $base-font-family;
    font-size: 35px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}

#japanese-teapot {
  // transform: translate(215.5, 142) rotate(-30) translate(-215.5, -142) translate(147, 74);
  transform: translate(129px, 135px) rotate(-30deg);

  fill: #ffffff;
  fill-rule: nonzero;
}

#teapot {
  transform: translate(0, 36.4px);
}
