@import "../../styles/typography.scss";

.skills-section {
  background: rgb(219, 217, 217);
  height: 100vh;
  display: flex;
  align-content: center;

  .skills {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;

    &__icons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__header {
      font-family: $base-font-family;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  .icon {
    font-size: 100px;
    color: #c56565;
    // color: #4e4e4e;
    padding: 30px;
    @media (max-width: 800px) {
      font-size: 60px;
      padding: 10px;
    }
  }
}
