@import "../../styles/typography.scss";

.main-section {
  display: flex;
  align-content: center;
  height: calc(100vh - 62px);
  background-image: url("../../../assets/bg1.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: bottom;
  flex-wrap: wrap;

  &__header {
    font-family: $base-font-family;
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    width: 100%;
    margin: 0px;
    @media (max-width: 768px) {
      font-size: 50px;
    }
  }

  &__icon {
    font-size: 80px;
    width: 100%;
    text-align: center;
    margin: 0px;
    @media (max-width: 768px) {
      font-size: 50px;
    }
  }
}
