.header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../../assets/bg1.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .heading {
    font-family: "Questrial", "Lato";
    text-align: center;
    font-weight: 300;
    font-size: 60px;
  }
}
