@import "../styles/typography";

.card {
  display: flex;
  flex-direction: column;

  &-image {
    max-width: 400px;
  }

  &-titlebox {
    background: lightgrey;
    font-family: $base-font-family;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    max-width: 400px;
  }

  &-paragraph {
    font-weight: normal;
    font-size: 16px;
  }
}
