.about-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  background-color: rgb(158, 158, 168);

  &__header {
    font-family: "Questrial";
    font-size: 40px;
    padding-left: 50px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__paragraph {
    text-align: center;
    font-family: "Lato";
    font-size: 20px;
    line-height: 2;
    margin-left: 5%;
    margin-right: 5%;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
