@import "../styles/typography";
@import "../styles/layout";

.contact-section {
  background-image: url(../../assets/contactme.jpg);
  height:calc(100vh - 60px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; 
  

  &__border {
    padding: 2% 0;
    width: 100%;
    background-color: grey;
    opacity: 0.9;
  }
  &__title {
    font-family: $base-font-family;
    margin: 2% 5%;
    color: #292828;
    font-size: 45px;
    @media (max-width: $mobile-screen) {
      font-size: 20px;
    }
  }

  &__form {
    margin: 0 5% 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &_field {
    width: 50%;
    margin: 4px 0;
    height: 5%;
    padding: 16px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    @media (max-width: $mobile-screen) {
      width: 100%;
    }

    &_error {
      width: 50%;
      border-radius: 5px;
      color: rgb(167, 20, 20);
      font-family: $title-font-family;
      font-size: 15px;
      font-weight: bold;
      line-height: 40px;
      padding-left: 5px;
      @media (max-width: $mobile-screen) {
        font-size: 13px;
        width: 100%;
        margin-bottom: 10px;
        line-height: 25px;
      }
    }
  }

  &__submit {
    background-color: rgb(238, 59, 74);
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 120px;
    height: 30px;
    margin-top: 10px;

    &:disabled {
      background-color: rgb(182, 181, 181);
      color: rgb(228, 224, 224);
      font-weight: light;
    }
  }
}

input::placeholder,
textarea::placeholder {
  font-family: $title-font-family;
  font-size: 14px;
  color: rgb(131, 130, 130);
}

input::after {
  padding-bottom: 10px;
}
